<header class="header">
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>
    </div>

    <ul class="social-links">
        {% if site.twitter %}
            <a href="https://twitter.com/{{ site.twitter }}" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
        {% if site.github %}
            <a href="https://github.com/{{ site.github }}" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}
    </ul>
</header>
